<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin dasar yang diperlukan -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />

    <!-- Setting for Bluetooth dengan izin yang lebih terbatas -->
    <uses-permission android:name="android.permission.BLUETOOTH" 
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" 
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" 
        android:maxSdkVersion="30" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true"/>
        <activity android:name=".FSTActivity" android:exported="true"/>
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".TesTab" android:exported="true"/>
        <activity android:name=".TestPage" android:exported="true"/>
        <activity android:name=".STORuanganActivity" android:exported="true"/>
        <activity android:name=".SearchActivity" android:exported="true"/>
        <activity android:name=".PreviewSTO" android:exported="true"/>
        <activity android:name=".RuanganActivity" android:exported="true"/>
        <activity android:name=".PreviewSearchActivity" android:exported="true"/>
        <activity android:name=".SearchInfoActivity" android:exported="true"/>

        <activity
            android:name=".PreviewSearchInfoActivity"
            android:exported="false" />
    </application>

</manifest>